
.todo-list {
    display: flex;
    width: 700px;
    justify-content: space-around;
    background-color: darkgray;
    font-size: 16px;
    font-weight: 500;

    &__item {
        width: 100px;
        height: 20px;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

